:root {
  --orange: #f76f53;
  --white: #ededed;
  --gray: #4f4f51;
  --bg: #252525;
}

* {
  font-family: "Bricolage Grotesque", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-left: 3%;
  padding-right: 3%;
  background-color: var(--bg);
  border-bottom: 1px solid var(--gray);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.navbar .navbar-logo span {
  color: var(--orange);
}

.navbar .navbar-nav a {
  font-size: 16px;
  font-weight: 500;
  color: #bababa;
  display: inline-block;
  margin: 0 50px;
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover {
  color: var(--orange);
}

.navbar .navbar-plus {
  display: flex;
  align-items: center;
}

.navbar .navbar-plus a {
  margin: 0 12px;
}

#mode {
  color: #a1a1a1;
  transition: 0.3s ease-in;
}

#mode:hover {
  color: #fff;
}

.button {
  font-size: 18px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: 1px solid transparent;
  padding: 12px 16px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.button.button_primary {
  background-color: var(--orange);
  color: #fff;
}

.button.button_secondary {
  background-color: transparent;
  color: #d1cfc0;
  border: 1px solid #d1cfc0;
}

.button.button_tertiary {
  background-color: #d1cfc0;
  color: var(--gray);
}

.button.button_primary:hover {
  background-color: transparent;
  color: var(--orange);
  border-color: var(--orange);
}

.button.button_secondary:hover {
  color: var(--orange);
  border-color: var(--orange);
}

.button.button_tertiary:hover {
  background-color: transparent;
  color: var(--orange);
  border-color: var(--orange);
}

#menu {
  color: #a1a1a1;
  transition: 0.3s ease-in;
  display: none;
}

#menu:hover {
  color: #ffffff;
}

/* Hero Section */
.hero {
  min-height: 85vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Rectangle 16.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 730px 0;
  background-color: var(--bg);
  transform: scaleX(-1);
  z-index: -1;
  opacity: 0.6;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
}

.hero .content {
  padding: 0 3%;
  position: relative;
  z-index: 10;
}

.hero .content .badge {
  font-size: 20px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 32px;
  opacity: 0.43;
  border-color: #797979;
  color: #d9d9d9;
  padding: 5px 15px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-top: 200px;
  margin-bottom: 12px;
}

h2 {
  color: #ededed;
  font-size: 40px;
  font-weight: 600;
}

h1 {
  font-size: 128px;
  font-weight: 600;
  background: linear-gradient(90deg, #ededed, #878787);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h1 span {
  color: var(--orange);
}

h3 {
  font-family: "junicode-regular", sans-serif;
  font-size: 32px;
  margin-bottom: 50px;
  margin-top: -10px;
}

.hero .content a {
  margin: 0 12px;
  display: inline-flex;
  position: relative;
}

.hero-image {
  position: absolute;
  bottom: 0;
  right: 3%;
  left: auto;
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
  border-radius: 100px;
  align-items: center;
}

/* About Section */
.about {
  padding: 130px 5%;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
  height: 600px;
  background-image: url("../assets/Asset.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: var(--bg);
  z-index: -1;
  opacity: 0.6;
}

.about h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.about h2 span {
  color: var(--orange);
  font-family: "junicode", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.about p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 10px 15%;
  line-height: 150%;
}

.about .statistics {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.about .stat-item {
  min-width: 150px;
}

.about .stat-item .stat-number {
  color: var(--orange);
  font-size: 36px;
  margin: 0;
  line-height: 46px;
}

.about .stat-item .stat-label {
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
}

.about .button-about {
  text-align: center;
}

/* Features Section */
.features {
  padding: 130px 3%;
}

.features .features-head p {
  font-weight: 500;
  font-size: 48px;
  color: var(--orange);
  text-align: center;
}

.features p span {
  font-weight: 400;
  color: #fff;
}

.features .features-container {
  display: flex;
}

.features .features-after {
  display: flex;
}

.features .button-features {
  margin-top: 20px;
  text-align: center;
}

/* Portfolio Section */
.portfolio {
  padding: 130px 3%;
}

.portfolio .content p {
  font-weight: 400;
  font-size: 45px;
  color: var(--white);
}

.portfolio .content p span {
  font-family: "junicode", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: var(--orange);
}

.portfolio .content a {
  margin-top: 20px;
  margin-right: 10px;
}

/* Testimonial Section */

.testimonial {
  padding: 130px 3%;
}

.testimonial .testimonial-head {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.testimonial-head .they {
  font-family: "junicode";
  font-style: italic;
  color: var(--orange);
}

.testimonial-head .FE {
  color: var(--orange);
}

/* Media Queries */

/* Tablet */
@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }
  #menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--gray);
    width: 25rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #fff;
    display: block;
    justify-items: center;
    margin: 20px;
    padding: 5px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  html {
    font-size: 40%;
  }
}

/* Font Face */
@font-face {
  font-family: "junicode";
  src: url(../fonts/junicode.regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
}
