:root {
  --orange: #f76f53;
  --white: #ededed;
  --gray: #4f4f51;
  --bg: #252525;
}

* {
  font-family: "Bricolage Grotesque", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-left: 3%;
  padding-right: 3%;
  background-color: var(--bg);
  border-bottom: 1px solid var(--gray);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.navbar .navbar-logo span {
  color: var(--orange);
}

.navbar .navbar-nav a {
  font-size: 16px;
  font-weight: 500;
  color: #bababa;
  display: inline-block;
  margin: 0 50px;
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover {
  color: var(--orange);
}

.navbar .navbar-plus {
  display: flex;
  align-items: center;
}

.navbar .navbar-plus a {
  margin: 0 12px;
}

#mode {
  color: #a1a1a1;
  transition: 0.3s ease-in;
}

#mode:hover {
  color: #fff;
}

.button {
  font-size: 18px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: 1px solid transparent;
  padding: 12px 16px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.button.button_primary {
  background-color: var(--orange);
  color: #fff;
}

.button.button_secondary {
  background-color: transparent;
  color: #d1cfc0;
  border: 1px solid #d1cfc0;
}

.button.button_tertiary {
  background-color: #d1cfc0;
  color: var(--gray);
}

.button.button_primary:hover {
  background-color: transparent;
  color: var(--orange);
  border-color: var(--orange);
}

.button.button_secondary:hover {
  color: var(--orange);
  border-color: var(--orange);
}

.button.button_tertiary:hover {
  background-color: transparent;
  color: var(--orange);
  border-color: var(--orange);
}

#menu {
  color: #a1a1a1;
  transition: 0.3s ease-in;
  display: none;
}

#menu:hover {
  color: #ffffff;
}

/* Hero Section */
.hero {
  min-height: 85vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Rectangle 19.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -40px -40px;
  background-color: var(--bg);
  z-index: -1;
  opacity: 0.6;
}

.hero .content {
  padding: 0 3%;
  position: relative;
  z-index: 10;
}

.hero .content .badge {
  font-size: 20px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 32px;
  opacity: 0.43;
  border-color: #797979;
  color: #d9d9d9;
  padding: 5px 15px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-top: 200px;
  margin-bottom: 12px;
}

.hero .content h2 {
  color: #ededed;
  font-size: 40px;
  font-weight: 600;
}

.hero .content h1 {
  font-size: 128px;
  font-weight: 600;
  background: linear-gradient(90deg, #ededed, #878787);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero .content h1 span {
  color: var(--orange);
}

.hero .content p {
  font-family: "junicode-regular", sans-serif;
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: -10px;
}

.hero .content a {
  margin: 0 12px;
  display: inline-flex;
  position: relative;
}

.hero-image {
  position: absolute;
  bottom: 0;
  right: 3%;
  left: auto;
  width: 392px;
  height: 359px;
  border-radius: 100px;
  align-items: center;
}

/* About Section */
.about {
  padding: 130px 5%;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Rectangle 18.svg"),
    url("../assets/Rectangle\ 16.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
  background-position: -40px 230px, 730px -40px;
  background-color: var(--bg);
  z-index: -1;
  opacity: 0.6;
}

.about h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.about h2 span {
  color: var(--orange);
  font-family: "junicode", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.about p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 10px 22%;
  line-height: 150%;
}

.about .statistics {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.about .stat-item {
  min-width: 150px;
  text-align: center;
}

.about .stat-item .stat-number {
  color: var(--orange);
  font-size: 36px;
  margin: 0;
  text-align: center;
  line-height: 46px;
}

.about .stat-item .stat-label {
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
}

.about .button-about {
  text-align: center;
}

/* Features Section */
.features {
  padding: 120px 3%;
}

.features .features-head {
  padding-bottom: 80px;
}

.features .features-head p {
  font-weight: 500;
  font-size: 48px;
  color: var(--orange);
  text-align: center;
}

.features p span {
  font-weight: 400;
  color: #fff;
}

.features .container {
  margin: 0 auto;
}

.features .box-before,
.features .box-after {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.features .box-after {
  display: none;
}

.features .box-after.visible {
  display: grid;
}

.features .item {
  height: 245px;
  display: flex;
  border-radius: 20px;
  align-items: flex-start;
  padding: 10px;
  top: -30px;
  justify-content: flex-end;
  font-size: 32px;
  font-weight: 400;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.features .service-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features .item p {
  position: relative;
}

.features .button-features {
  text-align: center;
}

/* Portfolio Section */
.portfolio {
  padding: 130px 3%;
}

.portfolio .content p {
  font-weight: 400;
  font-size: 45px;
  color: var(--white);
}

.portfolio .content p span {
  font-family: "junicode", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: var(--orange);
}

.portfolio .content a {
  margin-top: 20px;
  margin-right: 10px;
}

.portfolio .portfolio-pics {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  white-space: nowrap;
  margin: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px 0;
  gap: 20px;
  height: 264px;
}

.portfolio .item {
  background: linear-gradient(to bottom, #2b2b2b 10%, #2b1f23 70%, #ff5e32);
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
  top: -30px;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}

.portfolio .item .image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 10px;
  display: inline-block;
}

.portfolio .item .image .big {
  grid-column: span 2;
  grid-row: span 2;
  height: 320px;
}

/* Testimonial Section */

.testimonial {
  padding: 130px 3%;
}

.testimonial .testimonial-head {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.testimonial-head .they {
  font-family: "junicode";
  font-style: italic;
  color: var(--orange);
}

.testimonial-head .FE {
  color: var(--orange);
}

/* Contact Section */
.contact {
  padding: 130px 3%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.contact h2 {
  font-size: 48px;
  font-weight: 400;
  margin-left: 30px;
  width: 30%;
}

.contact form {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}

.contact input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact .input:nth-child(1),
.contact .input:nth-child(2) {
  width: calc(50% - 10px);
}

.contact .input:nth-child(3),
.contact .input:nth-child(4) {
  width: 100%;
}

contact .input p {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.contact input[type="text"] {
  background-color: var(--gray);
  color: var(--white);
  padding: 16px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
}

.contact .input:nth-child(4) input[type="text"] {
  min-height: 150px;
  resize: none;
  padding-bottom: 150px;
}

.contact input::placeholder {
  color: #fff;
  opacity: 1;
}

.contact .button.button_primary {
  margin-top: 10px;
  margin-left: auto;
  width: auto;
}

/* Footer */
.footer {
  background-color: var(--bg);
  color: #fff;
  padding: 130px 3% 60px 3%;
  display: grid;
  grid-template-columns: 2.5fr 1.1fr 1fr;
  gap: 50px;
  position: relative;
}

footer .address {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer .address .footer-logo {
  width: 164px;
  height: auto;
}

footer .address p {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}

footer .links {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

footer .links .pages,
footer .links .support {
  display: flex;
  margin-left: 130px;
  flex-direction: column;
  gap: 5px;
}

footer h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

footer a {
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 10px;
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
}

footer a:hover {
  color: var(--orange);
}

.footer .socials {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

footer .socials h3 {
  margin-bottom: 10px;
}

footer .socials-icons {
  display: cover;
  gap: 15px;
  height: 30px;
}

footer .socials a {
  font-size: 40px;
  color: #fff;
  margin-right: 15px;
  width: 40px;
  height: 80px;
  display: inline-flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

footer .socials a:hover {
  color: var(--orange);
}

footer .credit {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  text-align: left;
  padding-top: 40px;
  border-top: 1px solid #fff;
}

footer .credit p {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

/* Media Queries */

/* Tablet */
@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }
  #menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--gray);
    width: 25rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #fff;
    display: block;
    justify-items: center;
    margin: 20px;
    padding: 5px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  html {
    font-size: 40%;
  }
}

/* Font Face */
@font-face {
  font-family: "junicode";
  src: url(../fonts/junicode.regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
}
